.text-color1 {
  color: #ffa500;
}
.btn-color1 {
  background-color: #ffa500;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22' /%3E%3C/svg%3E");
}

.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../../assets/img/barangay-bg.jpg") center/cover no-repeat;
  color: white;
  padding: 100px 20px;
  text-align: center;
}
.hero h1 {
  font-size: 3rem;
  font-weight: 700;
}
.hero p {
  font-size: 1.2rem;
  margin-top: 20px;
}

.bg-color1 {
  background-color: #0c1112;
}

.bg-color2 {
  background-color: #1c1f25;
}
